language: node_js
cache:
  directories:
    - ~/.npm
notifications:
  email: false
node_js:
  - 6
  - 8
  - 10
install:
  - yarn install --ignore-engines
after_success:
  - npm run travis-deploy-once "npm run semantic-release"
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
